@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Revolution&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'outfit',sans-serif;
}

body{
  height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}